<template>
  <main class="board">

      <Set
        v-for="(set, index) in sets"
        :key="index"
        :color="set.color"
        :id="index"
        :title="set.title"
        :description="set.description"
        :jingles="set.jingles"
      />

    </main>
</template>

<script>
import Set from './Set.vue';

export default {
  name: 'Board',
  components: {
    Set,
  },
  props: {
    sets: Array,
  },
};
</script>

<style lang="scss">

    main {
        box-sizing: border-box;
        position: relative;
        right: 0;
        width: calc(100% - 104px);
        padding: 12px 2rem 2rem 0;
        height: 100vh;
    }

</style>
