<template>
  <div class="jingle-wrapper" ref="jingleWrapper">
      <div class="jingle-options" style="display: none;">
        <div class="jingle-options-modal">
          <img src="../assets/meatball-icon.svg" alt="">
        </div>
        <div class="jingle-options-close">
          <img src="../assets/close-icon.svg" alt="">
        </div>
      </div>
      <div v-if="jingle" class="jingle play" :class="`jingle--${color}`" @mousedown="play(jingle.src)">
          <span>{{ jingle.name }} TEST15</span>
      </div>
      <div v-if="addingJingle" class="adding-jingle-wrapper">
        <div class="adding-jingle" :class="`adding-jingle--${color}`">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10H18" stroke="#FA114F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18L10 2" stroke="#FA114F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
  </div>
</template>

<script>

export default {
  name: 'Jingle',
  components: {

  },
  props: {
    jingle: Object,
    color: String,
    addingJingle: Boolean,
  },
  data() {
    return {
      audioContext: null,
      source: null,
    };
  },
  mounted() {
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    if (this.jingle) {
      this.preload();
    }
    this.$eventBus.$on('stop-sound', () => {
      this.stop();
    });
  },
  methods: {
    preload() {
      const request = new XMLHttpRequest();
      request.open('GET', this.jingle.src, true);
      request.send();
    },
    play(url) {
      console.log('play', url);
      if (this.audioContext == null) {
        this.audioContext = new AudioContext();
      }
      if (this.source) {
        try {
          this.source.stop();
        } catch (err) {}
      }
      const request = new XMLHttpRequest();
      this.source = this.audioContext.createBufferSource();
      this.source.connect(this.audioContext.destination);
      request.open('GET', url, true);
      request.responseType = 'arraybuffer';
      request.onload = () => {
        this.audioContext.decodeAudioData(request.response, (buffer) => {
          this.$eventBus.$emit('stop-sound');
          this.source.buffer = buffer;
          this.source.start(0);
        });
      };
      request.send();
    },
    stop() {
      if (this.source) {
        try {
          this.source.stop();
        } catch (err) {}
      }
    },
  },
};
</script>

<style lang="scss">

.jingle-wrapper {
  position: relative;
  width: 100%;
  height: 132px;
  background: rgba(black, .1);
  border-radius: 10px;

  .adding-jingle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .adding-jingle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      background: rgba(#FA114F,.17);
      border-radius: 100%;
    }

    @each $name, $glyph in $colors {
      .adding-jingle--#{$name} {
        background: rgba($glyph,.17);
        svg {
          path {
            stroke: $glyph;
          }
        }
      }
    }
  }

  .jingle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-transform: uppercase;
      color: white;
      width: 100%;
      height: 100%;
      background: #2C2C2E;
      border-radius: inherit;
      z-index: 1;
      overflow: hidden;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
      }

      &::before {
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        width: 100%;
        transform: translateX(-110%);
        transition: transform 4.4s 0s linear;
        background: #FA114F;
      }

      &::after {
        width: 400px;
        height: 400px;
        border-radius: 100%;
        background: rgba(#FA114F,.17);
        transform: scale(.2);
        opacity: 0;
        transition: transform .5s ease;
      }

      &:hover {
        &:before {
          transform: translateX(0);
        }

        &:after {
          transform: scale(1);
          opacity: 1;
        }
      }

      span {
        text-align: center;
        padding: 0 1rem;
      }
  }

  @each $name, $glyph in $colors {
    .jingle--#{$name} {
      &::before {
        background: $glyph;
      }
      &::after {
        background: rgba($glyph,.17);
      }
    }
  }

  .jingle-options {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #2C2C2E;
      border-radius: inherit;
      box-shadow: 0px 32px 96px rgba(0,0,0,.5);

      .jingle-options-modal,
      .jingle-options-close {
          width: 3.5rem;
          height: 3.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: blue;
          border-radius: 10px;
          margin: .25rem;
      }

      .jingle-options-modal {
          background: rgba(#F2F4FF, .14);
      }

      .jingle-options-close {
          background: rgba(#FF3B30, .17);
      }
  }
}

</style>
