<template>
  <section class="set active" :data-set-id="id" @click="stopSound()">
      <header class="set-title" :class="`set-title--${color}`"> {{ title }} </header>
      <p class="set-description"> {{ description }} </p>
      <div class="jingle-grid">
        <Jingle v-for="i in 25" :key="i" :jingle="jingles[i-1]" :adding-jingle="jingles.length + 1 === i" :color="color"/>
      </div>
  </section>
</template>

<script>
import Jingle from './Jingle.vue';

export default {
  name: 'Set',
  components: {
    Jingle,
  },
  props: {
    id: Number,
    color: String,
    title: String,
    description: String,
    jingles: Array,
  },
  methods: {
    stopSound() {
      console.log('click');
      this.$eventBus.$emit('stop-sound');
    },
  },
};
</script>

<style lang="scss">

@each $name, $glyph in $colors {
  .set-title--#{$name} {
    background: rgba($glyph,.2);
    color: rgba($glyph,1);
  }
}

section {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    border-radius: 1rem;
    background: #1C1D1E;

    &.set.active {
        display: flex;
    }

    &.set {
        display: none;
    }

    header.set-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 10px;
    }

    &.set-1 header.set-title {
        //background: rgba($first-color,.2);
        //color: rgba($first-color,1);
    }

    p.set-description {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 2.5rem 4rem;
        font-size: 1rem;
        color: #DBDBDB;
    }

    .jingle-grid {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1rem;
    }
}
</style>
