<template>
  <li
    class="set-nav"
    :class="`set-nav--${color}`"
    :data-set-id="id">{{ id + 1 }}
  </li>
</template>

<script>

export default {
  name: 'SetLink',
  components: {

  },
  props: {
    id: Number,
    color: String,
  },
};
</script>

<style lang="scss">
.set-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
  font-weight: 700;

  &:hover {
    transition: .2s ease;
  }
}

@each $name, $glyph in $colors {
  .set-nav--#{$name} {
    background: rgba($glyph,.2);
    color: rgba($glyph,1);

    &.active {
      background: rgba($glyph,1);
      color: #000;
    }
  }
}
</style>
