<template>
  <header class="nav">
    <div class="logo-wrapper">
      <img src="../assets/maikzn-fx-logo.svg" alt="Maikzn FX Logo">
    </div>
    <nav class="navbar">
        <ul class="setlist">
          <SetLink
            v-for="(set, index) in sets"
            :key="index" class="set-nav"
            :id="index"
            :color="set.color"
          />
        </ul>
    </nav>
    <div class="login-wrapper" @click="$emit('login')">
      <img src="../assets/login-icon.svg" alt="Login">
    </div>
  </header>
</template>

<script>
import SetLink from './SetLink.vue';

export default {
  name: 'SetSelect',
  components: {
    SetLink,
  },
  props: {
    sets: Array,
  },
};
</script>

<style lang="scss">
.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  height: 100vh;
  background: #000;

  .logo-wrapper {
    position: absolute;
    top: 4.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .login-wrapper {
    position: absolute;
    bottom: 7rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav.navbar {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    width: 104px;
    height: 100%;

      ul.setlist {
        margin: 0;
        width: 100%;
        padding: 1rem;
      }
  }
}
</style>
