<template>
  <div id="app" class="app">
    <SetSelect :sets="sets" @click.native="openLogin()"/>
    <Board :sets="sets" />
    <span style="color: white;">

    {{this.user.uid}}
    </span>
  </div>
</template>

<script>
import { auth, firebaseAuth, db } from '@/services/firebase';
import SetSelect from './components/SetSelect.vue';
import Board from './components/Board.vue';

export default {
  name: 'App',
  components: {
    SetSelect,
    Board,
  },
  data() {
    return {
      sets: [
        {
          color: 'first-color',
          title: 'Set - 1',
          description: 'Beschreibung des Sets1',
          jingles: [

          ],
        },
        {
          color: 'second-color',
          title: 'Set - 2',
          description: 'Beschreibung des Sets2',
          jingles: [

          ],
        },
        {
          color: 'third-color',
          title: 'Set - 3',
          description: 'Beschreibung des Sets3',
          jingles: [

          ],
        },
        {
          color: 'fourth-color',
          title: 'Set - 4',
          description: 'Beschreibung des Sets4',
          jingles: [

          ],
        },
        {
          color: 'fifth-color',
          title: 'Set - 5',
          description: 'Beschreibung des Sets5',
          jingles: [

          ],
        },
      ],
      user: {},
    };
  },
  mounted() {
    auth.onAuthStateChanged((user) => {
      if (user) {
        console.log('logged-in with: ', user.uid);
        this.user = user;
        this.loadUserData();
      } else {
        console.log('not logged-in');
      }
    });

    const initSetSwitcher = () => {
      const $setlist = document.querySelector('.setlist');
      const $setlistBtns = $setlist.querySelectorAll('.set-nav');
      const $board = document.querySelector('.board');
      const $boardSets = $board.querySelectorAll('.set');

      const switchSetTo = (setID) => {
        const $currentSetBtn = $setlist.querySelector(`[data-set-id="${setID}"]`);
        const $currentBoard = $board.querySelector(`[data-set-id="${setID}"]`);

        $setlistBtns.forEach(($setlistBtn) => {
          $setlistBtn.classList.remove('active');
        });
        $currentSetBtn.classList.add('active');

        $boardSets.forEach(($boardSet) => {
          $boardSet.classList.remove('active');
        });
        $currentBoard.classList.add('active');
      };

      $setlistBtns.forEach(($setlistBtn) => {
        $setlistBtn.addEventListener('click', (e) => {
          switchSetTo(e.target.dataset.setId);
        });
      });
    };

    initSetSwitcher();
  },
  methods: {
    initNewUser() {
      console.log('new');
      db.collection('users').doc(this.user.uid).set({ sets: this.sets });
    },
    loadUserData() {
      auth.getRedirectResult().then((result) => {
        console.log('getRedirectResult');
        if (result.credential) {
          // This gives you a Google Access Token. You can use it to access the Google API.
          const token = result.credential.accessToken;

          console.log('result.credential', result.credential);
          console.log('result.credential aad', result.additionalUserInfo.isNewUser);
          console.log('result', result);

          const newUser = result.additionalUserInfo.isNewUser;

          if (newUser) {
            this.initNewUser();
          }
        }
        const { user } = result;
      }).catch((error) => {
        console.log('error', error);
      });

      db.collection('users').doc(this.user.uid).onSnapshot((snapshot) => {
        console.log(snapshot.data());
        const snapSshotData = snapshot.data();
        console.log(snapSshotData);
        this.sets = snapSshotData.sets;
      });
    },
    openLogin() {
      const provider = new firebaseAuth.GoogleAuthProvider();
      auth.signInWithRedirect(provider);
    },
  },
};
</script>

<style lang="scss">

body {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background: black;
  font-family: "Silka", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.app {
  display: flex;
}
</style>
